a {
    color: #f8f9fa;
    text-decoration: none;
}
a:hover {
    color: darkgray;
}
.logo {
    height: 100px;
}
#error {
    height: 100vh;
}
footer {
    padding: 2.5rem 0;
    text-align: center;
    background-color:#000000;
}